.footer {
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section {
    flex: 1 1 200px;
    min-width: 200px;
}

.footer-section h1 {
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

.footer-section p,
.footer-section ul,
.footer-section li {
    font-size: 18px;
    line-height: 2;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, letter-spacing 0.3s, transform 0.3s;
}

.footer-section ul li a:hover,
.footer-section ul li a:focus {
    color: #AB7442;
    letter-spacing: 2px;
    transform: scale(1.1);
}


.newsletter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.newsletter input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.newsletter button {
    padding: 10px 20px;
    border: none;
    background-color: #f1c40f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newsletter button:hover {
    background-color: #d4ac0d;
}

.footer-bottom {
    margin-top: 40px;
    text-align: center;
    font-size: 15px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer-bottom a {
    color: #f1c40f;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom a:hover {
    color: #d4ac0d;
}

strong {
    color: #d4ac0d
}
