<div class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h1>Thông tin thư viện</h1>
            <p>Thư viện SPACES BOOK</p>
            <p>085 307 7190</p>
            <p>letanloc.mmiv&#64;gmail.com</p>
        </div>


        <div class="footer-section">
            <h1>Dịch vụ</h1>
            <ul>
                <li><a href="#">Tra cứu sách</a></li>
                <li><a href="#">Mượn sách trực tuyến</a></li>
                <li><a href="#">Đọc sách tại thư viện</a></li>
            </ul>
        </div>


        <div class="footer-section">
            <h1>Tài nguyên hữu ích</h1>
            <ul>
                <li><a href="#">Danh mục sách mới</a></li>
                <li><a href="#">Câu hỏi thường gặp</a></li>
                <li><a href="#">Liên hệ chúng tôi</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h1>Đăng ký nhận thông tin</h1>
            <p>Nhận thông báo sách mới thư viện qua email.</p>
            <div class="newsletter">
                <input type="email" placeholder="Nhập email của bạn" />
                <button>Đăng ký</button>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© Thư viện SPACES BOOK, Bản quyền thuộc về thư viện.</p>
        <strong>Lê Tấn Lộc - Võ Đặng Thanh Trọng - Ngô Thị Thanh Ngân</strong>
    </div>
</div>
