.banner {
    position: relative;
    width: 100%;
    height: 850px;
    margin-top: 90px;
    overflow: hidden;
}

.slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
}


.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}

.banner-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.banner-content h1 {
    font-size: 4rem;
    margin: 10px 0;
    font-weight: 700;
    background: linear-gradient(45deg, #ffffff 0%, #ab7742 100%); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 400% 400%;
    animation: animationName 5s ease infinite;
}

@keyframes animationName {                  
    0% {
        background-position: 0% 50%;
    } 50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0% 50%;
    }
}

.banner-content p {
    font-size: 1.2rem;
    color: white;
    margin: 20px 0;
    max-width: 600px;
    line-height: 1.5;
}

.banner-content button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background: #AB7442;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.banner-content button:hover {
    background: #AB7442;
}

.header-content {
    padding: 50px 0px;
    background-color: white;
}

.steps {
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-bottom: 50px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon {
    font-size: 40px;
    font-weight: 1000;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #AB7442;
    background-color: #f0f0f0;
}

.step p {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.info {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
    background-color: #f0f0f0;
}

.info-image {
    flex: 0 0 50%;
}

.info-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.info-text {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 10px;
}

.info-text h2 {
    font-size: 50px;
    margin-bottom: 10px;
    color: #AB7442;
    font-weight: 700;
}

.info-text p {
    width: 95%;
    font-size: 20px;
    color: black;
    line-height: 1.5;
    text-align: justify;
}

form {
    width: 95%;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="number"] {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    
}
textarea {
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    
}

button[type="submit"] {
    width: 100%;
    background-color:#AB7442;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #ca8c51;
    transition: background-color 0.3s ease;
}



.row {
    display: flex;
    justify-content: space-between;
}

.row input,
.row select {
    flex: 1;
    margin-right: 12px;
    margin-left: 12px;
    padding: 10px;
    
}




