<div class="container-fluid">
    <div class="header">
        <h1>Thống kê</h1>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <div class="stat-box stat-box-1">
                <div class="icon"><i class="bi bi-journal-bookmark"></i></div>
                <h4>Tổng số sách</h4>
                <p>1000 Sách</p>
            </div>
        </div>
        <div class="col-3">
            <div class="stat-box stat-box-2">
                <div class="icon"><i class="bi bi-menu-button"></i></div>
                <h4>Tổng số thể loại</h4>
                <p>15 Thể loại</p>
            </div>
        </div>
        <div class="col-3">
            <div class="stat-box stat-box-3">
                <div class="icon"><i class="bi bi-journal-check"></i></div>
                <h4>Số sách mượn</h4>
                <p>100 Sách đang mượn</p>
            </div>
        </div>
        <div class="col-3">
            <div class="stat-box stat-box-4">
                <div class="icon"><i class="bi bi-people"></i></div>
                <h4>Số lượng bạn đọc</h4>
                <p>100k Người</p>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <!-- Biểu đồ (70%) -->
        <div class="col-7">
            <div class="stat-box stat-box-5">
                <h4>Doanh thu</h4>
                
            </div>
        </div>
        <!-- Lịch tháng (30%) -->
        <div class="col-5">
           
        </div>
    </div>
</div>
