<div class="container-fluid">
    <div class="detail-book">
      <div class="detail-book-image">
        <img src="icon.png" alt="Ảnh sách">
      </div>
      <div class="detail-book-text">
        <h2><span>Tên sách:</span> "Đắc Nhân Tâm"</h2>
        <p><span>Thể loại:</span> Kỹ năng sống, Tâm lý học</p>
        <p><span>Tác giả:</span> Dale Carnegie</p>
        <p><span>Mô tả sơ lược:</span> "Đắc Nhân Tâm" là một trong những cuốn sách nổi tiếng nhất về kỹ năng giao tiếp và tạo dựng mối quan hệ. Tác giả Dale Carnegie đã chia sẻ những bí quyết giúp người đọc cải thiện khả năng giao tiếp, xây dựng lòng tin và sự tôn trọng từ người khác. Cuốn sách không chỉ cung cấp những bài học về cách thấu hiểu tâm lý con người mà còn là hướng dẫn chi tiết về cách đối xử với mọi người trong các tình huống khác nhau để đạt được thành công trong cuộc sống và công việc. Đây là cuốn sách lý tưởng cho bất kỳ ai muốn phát triển kỹ năng giao tiếp và xây dựng mối quan hệ tốt đẹp với mọi người xung quanh.</p>
        <button class="detail-book-btn" (click)="goToBorrowBook()">Mượn sách</button>
    </div>
  </div>