.logo img {
    width: 70%;
    display: block;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
    filter: drop-shadow(0 10px 10px #868B92);
}

/* Định dạng thông tin người dùng */
.admin {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.admin img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #ccc;
}

.admin strong {
    color: black;
    font-size: 20px;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
}

.logout a {
    text-decoration: none;  /* Bỏ gạch chân mặc định của thẻ <a> */
    font-size: 18px;
    font-weight: 700;
    color: #5E6E82;  /* Màu chữ */
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout a:hover {
    color: #333;
}

.logout a i {
    margin-right: 8px;  /* Khoảng cách giữa biểu tượng và chữ */
    font-size: 18px;  /* Kích thước biểu tượng */
}



.menu {                   /*Menu*/
    list-style-type: none;
    position: relative;
    padding: 0;            
    margin: 0;
}
.menu li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;   
    color: #5E6E82;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}
.menu li a:hover {
    color: black;
    background: #eeeeee;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}
.menu li a span {
    position: relative;
    margin-right: 35px;
    
}

.menu span {
    display: none;
}
.menu .bi {
    display: flex;
    margin-right: 20px;
}


